<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

  <!-- j쿼리 -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&family=Stylish&display=swap"
    rel="stylesheet" />

  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="/api.js"></script>

  <!-- font-family: 'Black Han Sans', sans-serif; -->
  <!-- font-family: 'Noto Serif KR', serif; -->
  <!-- font-family: 'Stylish', sans-serif; -->
</head>
<style>
  .alert-sparta {
    color: white;
    background-color: black;
    border-color: #ffcde7;
    height: 100px;
  }

  .alert-sparta .alert-link {
    color: #4900f3;
  }


  .logo_Btn:hover {
    transform: translateY(6px) rotate(1turn);
    transition: all 500ms ease-in-out;
  }

  .login_Btn:hover {
    cursor: pointer;
    color: black;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    transform: scale(1.5);
    transition: transform 200ms ease-in-out;
  }
</style>

<body>

  <div style="background-color:pink;  margin-top:20px; text-align:center;  display:block;" id="nav">
    <button onclick="location.href='/home'" class="logo_Btn"
      style="border:none; outline:none; background:none; font-size:50px; color:white; font-family: 'Black Han Sans', sans-serif;">Home</button>
  </div>
  <div id="top_alert" style="text-align:center;"> </div>
  <div style="text-align:center; width:800px; margin:auto;" id='content_list'>
    <div style="font-family:'Black Han Sans', sans-serif;"></div>
    <div id="fix_show_list"></div>
    <script>

      // 소켓
      const socket = io.connect('/')

      socket.on('SAVE_REVIEW', function (data) {
        const { nickname, goodsId, goodsName, date } = data
        makeBuyNotification(nickname, goodsName, goodsId, date)
      })

      function initAuthenticatePage() {
        socket.emit('CHANGED_PAGE', `${location.pathname}${location.search}`)
      }

      function bindSamePageViewerCountEvent(callback) {
        socket.on('SAME_PAGE_VIEWER_COUNT', callback)
      }

      function postOrder(nickname, boardname) {
        socket.emit('SAVE', {
          nickname: nickname,
          goodsId: blogsId,
          goodsName: boardname
        })
      }

      function makeBuyNotification(targetNickname, goodsName, goodsId, date) {
        const messageHtml = `<span style="color:hotpink; font-family: 'Stylish', sans-serif;">${targetNickname}</span>
            <span style="font-family: 'Stylish', sans-serif;">님이 방금 <a href="/detail?goodsId=${goodsId}" class="alert-link">${goodsName}</a>에 새로운 글을 남겼어요! <br /><small>(${date})</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>`
        const alt = $('#customerAlert')
        if (alt.length) {
          alt.html(messageHtml)
        } else {
          const htmlTemp = `<div class="alert alert-sparta alert-dismissible show fade" role="alert" id="customerAlert">${messageHtml}</div>`
          $('#top_alert').append(htmlTemp)
        }
      }
      // 소켓

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const goodsId = urlParams.get("goodsId");



      $(document).ready(function () {
        get_fix_detail();
        check_login()
      });

      //로그인
      function loginNow() {
        window.location.href = "/"
      }

      function check_login() {
        token = localStorage.getItem("token");
        if (token == null) {
          let tempHtml = `<button onclick="loginNow()" class="login_Btn" id="login"
      style="border:none; outline:none; background:none; font-size:20px; color:black;; font-family: 'Black Han Sans', sans-serif; float:right;">로그인</button>`
          $('#nav').append(tempHtml)
        } else {
          let tempHtml = `<button onclick="logoutNow()" class="login_Btn" id="logut"
      style="border:none; outline:none; background:none; font-size:20px; color:black;; font-family: 'Black Han Sans', sans-serif; float:right;">로그아웃</button>`
          $('#nav').append(tempHtml)
        }
      }

      // 로그아웃
      function logoutNow() {
        localStorage.clear();
        window.location.href = "/home";
      }

      function get_fix_detail() {
        $.ajax({
          type: "GET",
          url: `/api/blogs/${goodsId}`,
          data: {},
          success: function (response) {
            let goodsDetail = response["detail"];
            let content = goodsDetail["content"];
            let nickname = goodsDetail["nickname"];
            let name = goodsDetail["name"];
            let cate = goodsDetail["category"];
            let goodsId = goodsDetail["goodsId"];

            let tempHtml = `
                              <div style="text-align:center; margin-bottom:20px;">
    <div class="mb-3" style="width:200px; margin:auto;">

        <label for="exampleFormControlInput1" class="form-label" style="margin-top:20px;">제목</label>
        <input style="width:200px;" type="email" value="${name}" class="form-control" id="name9" placeholder="제목">


    </div>
    <div class="mb-3" style="text-align:center; margin-top:30px;">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea placeholder="내용을 입력해주세요." class="form-control" id="contents" rows="3" style="width:800px; height:500px; margin:auto;">${content}</textarea>
    </div>
    </div>

    <div style="text-align:center; display:block;">
     <button type="button" class="btn btn-info" style="font-family: 'Stylish', sans-serif;" onclick="prompt_test('${nickname}', '${goodsId}')" >수정 할래용?</button>
     <button type="button" class="btn btn-danger" style="font-family: 'Stylish', sans-serif;" onclick="prompt_test2('${nickname}', '${goodsId}')" >삭제 할래용?</button>
    </div>  `;
            $("#fix_show_list").append(tempHtml);
          },
        });
      }

      function prompt_test(pwd, goodsId) {
        let prompt_test = prompt("진짜 수정하실거면 '확인'을 입력해주세요!");
        if (prompt_test == "확인") {
          alert("수정 완료!");
          return makeReview(goodsId);
          location.href = "/home";
        } else {
          alert("다시 생각해보세용");
        }
      }

      function makeReview(res_goodsId) {
        let names = $("#name9").val();
        let contents01 = $("#contents").val();
        let person00 = $("#person22").val();
        let cate = $("#cate").val();
        let goodsId = res_goodsId;
        console.log(names);
        console.log(goodsId);
        console.log(contents01);
        $.ajax({
          type: "POST",
          url: "/api/fix_save",
          data: {
            name: names,
            person: person00,
            content: contents01,
            category: cate,
            goodsId: goodsId,
          },
          //
          success: function (response) {
            window.location.reload();
            location.href = "/home";
          },
        });
        location.href = `/detail?goodsId=${goodsId}`;
      }

      function prompt_test2(pwd, goodsId) {
        let prompt_test = prompt("진짜 삭제하실거면 '삭제'를 입력해주세요!");
        if (prompt_test == "삭제") {
          alert("삭제 완료!");
          return deleteReview(goodsId);
        } else {
          alert("다시 생각해보세용");
        }
      }
      function deleteReview(res_goodsId) {
        let goodsId = res_goodsId;
        console.log(goodsId);
        $.ajax({
          type: "POST",
          url: "/api/fix_delete",
          data: {
            goodsId: goodsId,
          },
          //
          success: function (response) {
            window.location.reload();
          },
        });
        location.href = "/home";
      }
    </script>
</body>

</html>